<div class="post">
    <div class="post-nav">
        <button>General</button>
        <button>Tech issue</button>
        <button>Admin</button>
    </div>
    <hr>
    <div class="d-flex flex-column post-item">
        <div class="d-flex flex-row align-items-center" style="margin-bottom:5px;">
            <span class="color-title">User</span><span class="text-muted post-time">2022-12-12</span>
        </div>
        <div class="d-flex flex-column" style="">
            <div class="d-flex flex-row align-items-center color-title" style="margin-bottom:5px;">
                Python与SQLite日期时间函数的使
            </div>
            <div class="d-flex flex-row  text-muted" style="text-align:left">
                Welcome to USPS.com. Find information on
                our most convenient and affordable shipping and mailing services. Use our quick tools to find locations,
                ...
            </div>
        </div>
    </div>
    <div class="d-flex flex-column post-item">
        <div class="d-flex flex-row align-items-center" style="margin-bottom:5px;">
            <span class="color-title">User</span><span class="text-muted post-time">2022-12-12</span>
        </div>
        <div class="d-flex flex-column" style="">
            <div class="d-flex flex-row align-items-center color-title" style="margin-bottom:5px;">
                Python与SQLite日期时间函数的使
            </div>
            <div class="d-flex flex-row  text-muted" style="text-align:left">
                Welcome to USPS.com. Find information on
                our most convenient and affordable shipping and mailing services. Use our quick tools to find locations,
                ...
            </div>
        </div>
    </div>
    <div class="d-flex flex-column post-item">
        <div class="d-flex flex-row align-items-center" style="margin-bottom:5px;">
            <span class="color-title">User</span><span class="text-muted post-time">2022-12-12</span>
        </div>
        <div class="d-flex flex-column" style="">
            <div class="d-flex flex-row align-items-center color-title" style="margin-bottom:5px;">
                Python与SQLite日期时间函数的使
            </div>
            <div class="d-flex flex-row  text-muted" style="text-align:left">
                Welcome to USPS.com. Find information on
                our most convenient and affordable shipping and mailing services. Use our quick tools to find locations,
                ...
            </div>
        </div>
    </div>
</div>