<div class="post">
    <div class="post-nav">
        <a href="/profile">
            <button>BASIC INFORMATION</button>
        </a>
        <a href="/block">
            <button>BLOCK LIST</button>
        </a>
    </div>
    <hr>
    <div>
        <form>
            <div>
                <div>Password:</div>
                <input type="password"/>
            </div>
            <br>
            <div>
                <div>Avatar:</div>
                <input type="text" placeholder="base64 or image link"/>
            </div>
            <br>
            <button>Update</button>
        </form>
    </div>


</div>